.defaultinspiration{
    padding: 20px 100px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: auto;
}
.defaultinspiration h1{
    margin: auto;
    padding: 10px 0px;
}
.inspiration{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}